
<div class="container">
    <h1>About</h1>
    <p>
        <h4>Purpose</h4>
        The purpose of this website is to bring together the stories of
        sexual abuse victims. We see the benefit as two fold:
        <ol>
            <li>
                It can help those that have also experienced sexual abuse to realize they
                are not alone in their struggle. By seeing others stories, it can help
                comfort and heal those who have been through similar situations. This
                can provide an outlet for those who are struggling to get their
                own story out.
            </li>
            <li>
                Spread awareness throughout the community to those that have not
                personally experienced this problem. By collecting all these stories in one place
                we can allow others to see these aren't rare isolated incidents
                that happen outside their community.
            </li>
        </ol>
        
        <h4>Who is this for?</h4>
        
        This website is for anyone who has experienced sexual abuse and those
        who have not. If you think this website could be beneficial to a loved one
        or someone who doesn't see the severity of this problem,
        please don't hesitate to pass it on. 
        
        <h4>What can you do?</h4>
        
        Systemic problems aren't solved over night and they aren't solved without
        the action of countless individuals. The best thing you can do is take action.
        These actions that create change start small at first (a conversation,
        showing up to a group meeting, donating money), but grow to result in
        transformative results. So we ask that you take the smallest possible action: 
        pass this site on. You may not have a story to tell,
        but likely someone you know and care about does. <br>
        
        If you do have a story we ask that you share whatever you feel comfortable telling.
        Even if you feel telling your story doesn't help you, it may help someone else tell theirs.
        <b>By owning your story, you control who writes the ending.</b>
    </p>
</div>   

    


