
<div class="container">
    <h1>About</h1>
    <p>
        Why do we need this website
        Who this website is for
        What can you do?
        
        Sharing your story can help you come to terms with what happened to you
        share your story so you can own it and not let someones choice define your life. 
        Your story can help others to tell their own story.
        Help bring this problem to the awareness of the community.
    </p>
</div>   

    


