.body {
    padding-top: 10px;
}

.navbar {
    a {
        color: LightGray;
    }
    a:hover {
        color: Black;
        background-color: transparent;
        text-decoration: none;
    }
}



.navbar-header {
    .navbar-brand {
        font-size: 1.5em;
        padding: 1.3em;
    }
    #subtitle {
        font-size: .5em;
    }
}


.navbar-right {
    padding: 1.5em;
    a {
        margin-right: 1em;
    }
}

.container {
    h1 {
        text-align: center;
    }
}

#button {
    color: white;
}

#button:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}


text_area#story {
    width: fill;
    height: 10em;
    display: block;
}

body {
    a:hover {
        color: Black;
        background-color: transparent;
        text-decoration: none;
    }
}

.story-form {
    #hide {
        display: none;
    }
}

.card {
    #location {
        color: DarkGray;
    }
    border-style: solid;
    border-width: 1px;
    border-radius: .75em;
    border-color: DarkGray;
    background-color: #f9f9f9;
    padding: 1em;
    margin: 1em;
}

.contact-form {
    .field {
       width: 100%;
    }
}

