<div class="container">
    <h1>Feedback</h1>
    Have something to tell us? We'd love to hear it! Leave your email and your
    message below and we will get back to you as soon we can. Thanks!
    <%= render 'form' %>
</div>
